.costom-image{
margin-top: 80px;
margin-bottom: 100px;
position: absolute;
left: 85px;
}

.image{
margin-top: 120px;
margin-bottom: 100px;
position: absolute;
left: 80px;
}

.meet{
margin-top: 120px;
margin-bottom: 100px;
position: absolute;
left: 630px;
}

.Mask{
margin-top: 170px;
margin-bottom: 100px;
position: absolute;
left: 630px;
}

.Basuki{
color: black;
margin-top: 165px;
margin-bottom: 100px;
position: absolute;
left: 660px;
font-size: 25px;
}

.about{
margin-top: 200px;
margin-bottom: 100px;
position: absolute;
left: 630px;
font-size: 15px;
}

.teks{
margin-top: 245px;
margin-bottom: 100px;
position: absolute;
left: 630px;
width: 800px;
height: 170px;
display: flex;
font-size: 15px;
justify-content: center;
align-items: center;
}

.get{
margin-top: 460px;
margin-bottom: 100px;
position: absolute;
left: 630px;
height: 500px;
font-size: 15px;
}

.image-container {
margin-top: 500px;
margin-bottom: 100px;
position: absolute;
left: 630px;
display: flex;
justify-content: space-around;
}

.image-element {
width: 75%;
height: auto;
}

.Share {
margin-top: 500px;
margin-bottom: 100px;
position: absolute;
left: 80px;
display: flex;
justify-content: space-around;
}
    
.Share2 {
width: 80%;
height: 90%;
}

.video{
margin-top: 580px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 24px;
}

.video2{
margin-top: 590px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 16px;
}

.video3{
margin-top: 655px;
margin-bottom: 100px;
position: absolute;
left: 85px;
}

.karya_seniman{
margin-top: 1250px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 24px;
}

.karya_seniman2{
margin-top: 1260px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 16px;
}

.gallery {
margin-top: 1300px;
margin-left: 85px;
margin-right: 85px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
gap: 20px;
padding: 20px;
}

.art-item {
background-color: #fff;
padding: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: left;
}

.art-item img {
width: 100%;
height: auto;
border-radius: 10px;
}

.art-item h2 {
color: #000;
font-size: 20px;
height: 26px;
font-weight: bold;
}

.art-item p {
margin-top: 0px;
color: #555;
}

.art-item .price {
font-weight: bold;
color: #000;
}

.art-item .sold {
color: rgb(229, 31, 31);
font-weight: bold;
text-align: center;
}

.rekomendasi{
margin-top: 20px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 24px;
}

.next {
    margin-top: 55px;
    margin-bottom: 100px;
    position: absolute;
    right: 85px;
}

.lihat-semua-btn {
    border: none;
    background: none;
    padding: 0; 
    cursor: pointer; 
    position: relative;
    font-size: 14px;
    color: #979797;
}
    
.rekomendasi2{
margin-top: 30px;
margin-bottom: 100px;
position: absolute;
left: 85px;
font-size: 16px;
}

.gallery-rekomendasi{
margin-top: 75px;
margin-left: 85px;
margin-right: 85px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
gap: 20px;
padding: 20px;
}

.art-item-rekomendasi {
background-color: #fff;
text-align: center;
padding: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
}
        
.art-item-rekomendasi img {
width: 100%;
height: auto;
border-radius: 10px;
}
        
.art-item-rekomendasi h2 {
color: #000;
font-size: 20px;
text-align: center;
height: 26px;
}
        
.art-item-rekomendasi p {
text-align: center;
margin-top: 0px;
color: #555;
}

.art-item-rekomendasi button {
background-color: #6200ea;
border: none;
color: white;
text-align: center;
padding: 10px 50px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.art-item-rekomendasi button:hover {
text-align: center;
background-color: #3700b3;
}
